[mysqld]
# 文字コードの設定
character-set-server=utf8mb4

# 照合順序をバイナリ単位で設定
collation-server=utf8mb4_bin

# タイムゾーンをコンテナに合わせる
default-time-zone=SYSTEM

[mysql]
# 文字コードの設定
default-character-set=utf8mb4

[client]
# 文字コードの設定
default-character-set=utf8mb4